{{yield}}
<div class="container">
  <h1>Welcome back <strong>{{user.name}} {{user.surname}}</strong></h1>
  {{#each user.purchased as |index|}}
       <p>Product name is <strong>{{get-product-at index products 'title'}}</strong></p>
       <p>Product price is {{get-product-at index products 'price'}}</p>
       <hr>
  {{/each}}
  <p>total spent is {{total-spent-by-user products user.purchased}}</p>
</div>
